html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

input[type="search"]::-webkit-search-cancel-button {
  @apply w-6 h-6 cursor-pointer;
  -webkit-appearance: none;
  background: url(https://api.iconify.design/feather:delete.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: .3;
  pointer-events: all;
}

input[type="search"].dark::-webkit-search-cancel-button {
  filter: invert(1);
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-primary opacity-75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

.btn {
  @apply px-4 py-1 rounded-full inline-block
    bg-primary text-white cursor-pointer
    hover:bg-primary_dark
    disabled:cursor-default disabled:bg-primary_light disabled:opacity-50;
}

.icon-btn {
  @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-teal-600;
  font-size: 0.9em;
}